@import './base.css';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-weight: normal;
}

#app {
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: #7dd3fc;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(125, 211, 252, 0.18);
  }
}
